bin/
obj/
build/
Makefile
deprecated
.clang-complete
.clang_complete
assets/_3rd
_misc/
_deprecated/


# CLion
cmake-build-debug/
cmake-build-release/
.idea

# Visual Studio Stuff
.vs
*.sln
*.vcxproj
*.filters
*.user

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
cmake_uninstall.cmake
_build/
_build_msvc/
_build_clang/
_build_clang_linux/
_msbuild.bat
ctime.ctm


#Binaries and libs
